body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(bg.png);
    background-size: cover;
    margin: 0;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #fff;
    margin-bottom: 20px;
}
h2 {
    color: #fff;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
input{
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    display: none;
}
@media (max-width: 490px) {
    body{
    background-image: url(bg2.png);
    background-size: auto;
    }
    h1{
        padding: 70px;
    }
    h2{
        padding: 10px;
    }
    input[type="text"] {
        padding: 10px;
    }
    button {
        padding: 30px 20px;
    }
}